.bg-img{
    background-image: url(../redberry-project/images/stars.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 601px;
    position: relative;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.mother-rocketeer{
    max-width:640px;
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rocketeer{
    color: #FE3B1F;
    font-size:60px;
    font-family: 'Rowdies', cursive;
    cursor: pointer;
}

.questions-border{
    border-radius: 50px;
    max-width: 280px;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    top: 10%;
    background-color: #FE3B1F;
    position: relative;
}

.questions{
    font-size:24px;
    color: #FFFFFF;
}

.questions:hover{
    transition: 0.5s;
    font-size:24.5px;
}

.submitted-div{
    max-width: 251px;
    width: 100%;
    height: 40px;
    top: 10%;
    position: relative;
    margin-top:18px;
}

.submitted{
    font-size:24px;
    color:#FFFFFF;
    text-align: center;
    padding-top:8px;
}
.submitted:hover{
    transition: 0.5s;
    font-size:24.5px;
}

.astronaut{
    max-width: 150px;
    width: 100%;
    height: 190px;
    top: 12%;
    position: relative;
}

/* questions page. left side */

.leftside, .rightside{
    height:50vh;
    width:100%;
}

.leftside{
    background:#FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rightside{
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rocketeer-head{
    font-size:35px;
    color: #FE3B1F;
    font-family: 'Rowdies', cursive;
}
.rocketeer-head2{
    font-size:35px;
    color: #FE3B1F;
    margin-bottom:40px;
    font-family: 'Rowdies', cursive;
}

form label{
    display: flex;
    margin-top:20px;
}

form input{
    border:1px solid #525557;
    border-radius:3px;
    font-size:25px;
    height: 30px;
    outline:none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.text{
    font-size:15px;
}


.arrow-left{
    color:#FE3B1F;
    position: absolute;
    padding-top:20px;
    padding-left:0px;
    
}

.circle-icon{
    position: absolute;
    color:#FE3B1F;
    padding-top:20px;
    
}

.circle-icon2{
    position: absolute;
    color:#FE3B1F;
    opacity: 0.1;
    padding-top:20px;
    
}

.circle-icon3{
    position: absolute;
    color:#FE3B1F;
    opacity: 0.1;
    padding-top:20px;
    
}

.circle-icon4{
    position: absolute;
    color:#FE3B1F;
    opacity: 0.1;
    padding-top:20px;
    
}

.circle-icon5{
    position: absolute;
    color:#FE3B1F;
    opacity: 0.1;
    padding-top:20px;
    
}


.arrow-right{
    color:#FE3B1F;
    position: absolute;
    padding-top:20px;
    cursor: pointer;
}


.div-icon{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width:150px;
    position: relative;
    width:100%;
    height: 0px;
    margin-top: 20px;
}

/* questions page. right side */

.origins{
    font-size:35px;
    color: #FE3B1F;
    font-family: 'Rowdies', cursive;
}

.origins-div{
    max-width: 304px;
    width: 100%;
    height: 215px;
    margin-top: 90px;
}


.redberry-text{
    font-size:20px;
    color:#FFFFFF;
    line-height: 120%;
    letter-spacing: 0.5px;
    
}



@media only screen and (min-width: 768px){
    .leftside, .rightside{
        height:100vh;
    }

}

/* SKILLS PAGE */


.wrapper{
    width:300px;
    height:60px;
    margin-top:100px;
    user-select:none;
    filter:drop-shadow( 0 0 4px #0007);
    overflow: hidden;
}

.css-main{
    width: 290px;
    height: 40px;
}

.title{
    width:100%;
    height:50%;
    border-radius:10px;
    border:1px solid grey;
    background-color:#fff;
    color:#333;
    font-size:18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.leng-icon{
    cursor:pointer;
    padding:8px 22px 8px 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.dropdown{
    width:100%;
    height:auto;
    padding-top:7px;
    border-radius:10px;
    position: relative;
    border:1px solid #aaa;
    background-color:#fff;
    margin-top:20px;
    list-style:none;
    isolation: isolate;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.dropdown li{
    color:#555;
    font-size:15px;
    padding-left:15px;
    padding-top:10px;
    cursor: pointer;
    border-bottom:1px solid #ddd;

}

.dropdown li:hover{
    background-color:#e7e7e7;
}

.dropdown::after{
    content: "";
    position: absolute;
    width:15px;
    height:15px;
    border-top:inherit;
    border-left:inherit;
    background-color:inherit;
    top:0;
    right:20px;
    /* z-index: -1; */
    transform: translateY(-50%) rotate(45deg);
}

.leng-icon::after{
    content: "";
    width:20px;
    height:20px;
    background-color:#ccc;
    opacity: (0.8);
    background-image: var(--src);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.active{
    overflow: visible;
    z-index: 1;
}

.active .dropdown{
    opacity: 1;
}

input,
input::-webkit-input-placeholder{
    font-size:15px;
    line-height: 3;
    color:#000000;
}

.input{
    max-width:200px;
}

.orange-div{
    width:290px;
    height:40px;
    display: flex;
    justify-content: flex-end;
}

.orange-button {
    height: 25px;
    background-color: #FE3B1F;
    margin-top: 10px;
    width: 171px;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid grey;
    cursor: pointer;
}

.minus{
    color:#FE3B1F;
    position: absolute;
    cursor: pointer;
    margin-top:8px;
}

.our-battles{
    font-size:35px;
    color: #FE3B1F;
    font-family: 'Rowdies', cursive;
}

.battles-div{
    max-width: 405px;
    width: 100%;
    height: 215px;
    margin-top: 90px;
}

.battles-text{
    font-size:20px;
    color:#FFFFFF;
    line-height: 120%;
    letter-spacing: 0.5px;
    
}

/* covid page */

.checkbox-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
    line-height: 30px;
    max-width: 300px;
    /* background-color: red; */
    height: 400px;
}
.date1{
    max-width:100px;
    margin:0 auto;
}

.date-time{
    max-width: 240px;
    height: 28px;
}

.our-covid{
    font-size:35px;
    color: #FE3B1F;
    font-family: 'Rowdies', cursive;
}

.covid-div{
    max-width: 405px;
    width: 100%;
    height: 215px;
    margin-top: 90px;
    margin-bottom: 145px;
}

.covid-text{
    font-size:20px;
    color:#FFFFFF;
    line-height: 120%;
    letter-spacing: 0.5px;
    
}

/* about  page*/

.about-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
    line-height: 30px;
    max-width: 390px;
    height: 350px;
    font-family: 'Rowdies', cursive;
}

.about-text{
    width: 300px;
    height: 60px;
    line-height: 21.94px;
    color:#3A3A3A;
}

.insight{
    font-size:35px;
    color: #FE3B1F;
    font-family: 'Rowdies', cursive;
}

.insight-div{
    max-width: 405px;
    width: 100%;
    height: 215px;
    margin-top: 90px;
    margin-bottom: 100px;
}

.insight-text{
    font-size:20px;
    color:#FFFFFF;
    line-height: 120%;
    letter-spacing: 0.5px;
    
}

/* submit page */


.submit-maindiv{
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 569px;
}

.submit-div{
    max-width:500px;
    width:100%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-submit{
    background-color:#FE3B1F;
    max-width:240px;
    width:100%;
    height:70px;
    border:none;
    border-radius: 50px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    cursor: pointer;
}

.button-submit:hover{
    font-size:37px;
    transition: 0.2s;
}

.goback{
    color:#FFFFFF;
    margin-top:15px;
    cursor: pointer;
    font-size:15px;
}

.goback:hover{
    font-size:16px;
    transition: 0.2s;
}

/* thank */

.thank-maindiv{
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 902px;
}

.thank{
    font-size: 36px;
    font-family: 'Rowdies', cursive;
    color: #FE3B1F;
}